body {
  margin: 0;
  font-family: Arial;
  background: #ff8a4c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  position: relative;
}

.panda {
  position: relative;
  width: 200px;
  margin: auto;
}

.ear {
  width: 60px;
  height: 60px;
  background: #444;
  border-radius: 50%;
  position: absolute;
  top: -20px;
}

.ear.left {
  left: 0;
}
.ear.right {
  right: 0;
}

.face {
  width: 200px;
  height: 180px;
  background: white;
  border-radius: 50%;
  position: relative;
  padding-top: 20px;
}

.eye {
  width: 60px;
  height: 60px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 40px;
}

.eye.left {
  left: 25px;
}

.eye.right {
  right: 25px;
}

.eyeball {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  transition: 0.1s;
}

.nose {
  width: 18px;
  height: 18px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
}

.mouth {
  width: 40px;
  height: 20px;
  border-bottom: 4px solid #000;
  border-radius: 0 0 20px 20px;
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
}

.hand {
  width: 70px;
  height: 50px;
  background: #444;
  border-radius: 30px;
  position: absolute;
  top: 130px;
  transition: 0.3s;
}

.hand.left {
  left: -20px;
}
.hand.right {
  right: -20px;
}

.login-box {
  width: 260px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: -20px;
}

.input-group {
  margin: 10px 0;
}

input {
  width: 80%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 6px;
}

.btn {
  background: #ff5e00;
  color: white;
  padding: 10px 30px;
  border: none;
  margin-top: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.feet {
  display: flex;
  justify-content: center;
  margin-top: -10px;
  gap: 30px;
}

.foot {
  width: 60px;
  height: 40px;
  background: white;
  border-radius: 20px 20px 10px 10px;
  border: 3px solid #444;
  position: relative;
}

.foot::before,
.foot::after {
  content: "";
  width: 12px;
  height: 12px;
  background: #444;
  border-radius: 50%;
  position: absolute;
  top: 8px;
}

.foot::before {
  left: 10px;
}

.foot::after {
  right: 10px;
}

.foot.left {
  transform: rotate(5deg);
}

.foot.right {
  transform: rotate(-5deg);
}
